.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #A3D9D9;
  z-index: 1;
}

img {
  width: 3%;
  height: 4%;
  margin-left: 2%;
  padding-right: 1%;
  vertical-align: middle;
}

.logo {
  position: inherit;
}

p {
  display: inline-block;
}

.user {
  float: right;
  margin-right: 2%;
}
