<mat-toolbar class="header">
    <a routerLink='/' class="mat-button" aria-disabled="false">
        <span class="mat-button-wrapper">
            <img src="https://icons.iconarchive.com/icons/icons8/ios7/128/Very-Basic-Speech-Bubble-icon.png">
            <span class="mat-display-1">Amasing news!</span>
        </span>

    </a>
    <div class="spacer">
    </div>
    <span class="user" *ngIf="!currentUser; else showUser">
        <button mat-flat-button color="warn" routerLink="/signin">Sign In</button>
    </span>
    <ng-template #showUser>
        <span class="user">
            Hello {{currentUser.user.username}}!
        </span>
    </ng-template>
</mat-toolbar>