.footer {
  border-width: 1px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-style: solid;
  background-color: #A3D9D9;
  border-color: rgb(242, 245, 241);
  margin-left: -8px;
}

.footer .footerLogo {
  text-align: left;
  display: inline-block;
  margin-left: 2%;
}
.footer .poweredLogo{
    float: right;
    margin-right: 2%;
}