<div class="main">
    <app-title [title]="title">
    </app-title>
    <app-filter [sources]="sources" (changeSource)="receiveSourceId($event)"
        (clickFilterButton)="receiveGlobalFilter($event)" (clickCreatedByMeCheckbox)="receiveCreatedByMeFilter($event)">
    </app-filter>

    <div class="source">

        <ng-template appNewsCard>
        </ng-template>

        <div *ngIf="!initialLoad">

            <div class="loadMore">
                <button mat-raised-button (click)="loadMore()" [disabled]="!isAdded">Load more</button>
            </div>
        </div>
    </div>
</div>