.main {
  position: absolute;
  top: 37px;
  text-align: center;
  width: 100%;
}

.sourceName {
  border-width: 2px;
  border-top: 0px;
  border-style: solid;
  background-color: snow;
  width: 100%;
}

.filter {
  border-width: 2px;
  border-top: 0px;
  border-style: solid;
  width: 100%;
}

.filter * {
  display: inline-block;
  margin: 2%;
}

.search {
  display: inline;
}

.search * {
  margin-right: 2px;
  margin-left: 2px;
}

.source {
  text-align: center;
}

.news {
  border-width: 2px;
  border-style: solid;
  width: 50%;
  display: inline-block;
  margin: 30px;
}

.newsWrapper > * {
  display: inline-block;
  margin-left: 2%;
}

.newsData * {
  display: inline;
}

img {
  margin-top: 5%;
  width: 20%;
  height: 20%;
  float: left;
}

.image {
  margin-bottom: 2%;
  margin-right: 20%;
}

.text * {
  padding-right: 50%;
  display: block;
}

.date {
  vertical-align: top;
}

.control {
  vertical-align: top;
}

.control * {
  display: block;
  margin-bottom: 7%;
}
