<div class="main">
    <div class="sourceName">
        <h1>{{this.title}}</h1>
    </div>
    <div class="filter">
        <div class="header">
            <mat-select placeholder="Select Source Placeholder" (selectionChange)="onChangeObj($event)">
                <mat-option *ngFor="let source of sources" [value]="source.id">
                    {{source.name}}
                </mat-option>
            </mat-select>
        </div>
        <div class="search">
            <input type="text" placeholder="Type your text" />
            <button class="button">Filter</button>
        </div>
        <div>
            <mat-checkbox>Only created by me</mat-checkbox>
        </div>
        <div>
            <button class="button">Add Article</button>
        </div>
    </div>
    <div class="source">
        <div class="news" *ngFor="let article of articles">
            <div class="newsWrapper">
                <img [src]="article.urlToImage">
                <div class="text">
                    <p>{{article.title}}</p>
                    <p>{{article.description}}</p>
                    <a [href]="article.url">Read more</a>
                </div>
                <div class="date">
                    <p>{{article.publishedAt | date:'shortTime' }}</p>
                </div>
                <div class="control">
                    <button class="button">Edit</button>
                    <button class="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>