<div class="main">
    <app-title [title]="title">
    </app-title>
    <app-filter [sources]="sources" (changeSource)="receiveSourceId($event)"
        (clickFilterButton)="receiveGlobalFilter($event)" (clickCreatedByMeCheckbox)="receiveCreatedByMeFilter($event)">
    </app-filter>

    <div class="source">

        <ng-template appNewsCard>
        </ng-template>

        <div *ngIf="articles">

            <div class="loadMore" *ngIf="isAdded; else disabledButton">
                <button mat-raised-button (click)="loadMore()">Load more</button>
            </div>

            <ng-template #disabledButton>
                <div class="loadMore">
                    <button mat-stroked-button disabled>Load more</button>
                </div>
            </ng-template>
        </div>
    </div>
</div>