<div class="filter">
    <div class="header">
        <mat-form-field>
            <mat-select placeholder="Select Source" (selectionChange)="onChangeSource($event)">
                <mat-option *ngFor="let source of sources" [value]="source.id">
                    {{source.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="search">
        <mat-form-field>
            <input matInput [(ngModel)]="filterInput" placeholder="Type header" />
        </mat-form-field>
        <button mat-raised-button color="green" (click)="globalFilter()">Filter</button>
    </div>
    <div>
        <mat-checkbox [(ngModel)]="createdByMe" (change)="createdByMeFilter($event.checked)">Only created by me
        </mat-checkbox>
    </div>
    <div>
        <button mat-raised-button color="green" routerLink="/create">Add Article</button>
    </div>
</div>