$border-style: solid;

.news {
  border-color: #a3d9d9;
  border-width: 2px;
  border-style: $border-style;
  border-radius: 10px;
  min-width: 50%;
  display: inline-block;
  margin: 40px;
}

.newsWrapper {
  display: grid;
  grid-template-columns: 250px 550px 130px 100px;
}

.newsWrapper > img,
.text,
.date,
.control {
  display: inline-block;
  margin-left: 2%;
}

img {
  margin-top: 30px;
  margin-bottom: 3%;
  max-width: 200px;
  max-height: 170px;
  min-width: 200px;
  min-height: 170px;
  float: left;
}

.text p,
a {
  margin-top: 30px;
  text-align: left;
}

.date {
  margin-top: 14px;
  vertical-align: top;
}

.control {
  margin-top: 20px;
  vertical-align: top;
}

.control button {
  display: block;
  margin-bottom: 7%;
  margin-top: 1em;
  margin-right: 5%;
  min-width: 80px;
}
