<div class="form">
    <form [formGroup]="newsForm" (ngSubmit)="onSubmit()">
        <div class="leftPart">
            <mat-form-field>
                <label>Title
                    <input matInput formControlName="title" />
                </label>
            </mat-form-field>
            <mat-form-field>
                <label>Short description
                    <input matInput formControlName="description" />
                </label>
            </mat-form-field>
            <mat-form-field>
                <label>Content
                    <textarea matInput formControlName="content" rows="5"></textarea>
                </label>
            </mat-form-field>
        </div>
        <div class="centerPart">

            <label>Image
                <mat-radio-group formControlName="imageType">
                    <mat-radio-button value="URL">URL</mat-radio-button>
                    <mat-radio-button value="File">File</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="newsForm.value.imageType == 'URL'; else file">
                    <mat-form-field>
                        <input matInput formControlName="image" />
                    </mat-form-field>
                </div>
                <ng-template #file>
                    <input #imageInput hidden="true" type="file" onclick="this.value=null"
                        (change)="imageInputChange($event)" accept=".png" formControlName="image" />
                    <button mat-flat-button color="primary" (click)="imageInput.click()" class="selectButton">Select image</button>
                </ng-template>
            </label>

            <mat-form-field>
                <label>Date
                    <input matInput formControlName="data" />
                </label>
            </mat-form-field>
            <mat-form-field>
                <label>Author
                    <input matInput formControlName="author" />
                </label>
            </mat-form-field>
            <mat-form-field>
                <label>Source url
                    <input matInput formControlName="url" />
                </label>
            </mat-form-field>
            <div class="buttons">
                <button mat-raised-button color="green" type="submit" [disabled]="newsForm.invalid">Save</button>
                <button mat-raised-button routerLink="/" class="cancel">Cancel</button>
            </div>
        </div>
        <div class="imagePart">
            <img [src]="newsForm.value.image" *ngIf="newsForm.value.image">
        </div>
    </form>