<div class="form">
    <form [formGroup]="newsForm" (ngSubmit)="onSubmit()">
        <div class="leftPart">
            <mat-form-field>
                <label>Title
                    <input matInput formControlName="title" />
                </label>
            </mat-form-field>
            <mat-form-field>
                <label>Short description
                    <input matInput formControlName="description" />
                </label>
            </mat-form-field>
            <mat-form-field>
                <label>Content
                    <textarea matInput formControlName="content" rows="5"></textarea>
                </label>
            </mat-form-field>
        </div>
        <div class="rightPart">
            <mat-form-field>
                <label>Image
                    <input matInput formControlName="image" />
                </label>
            </mat-form-field>
            <mat-form-field>
                <label>Date
                    <input matInput formControlName="data" />
                </label>
            </mat-form-field>
            <mat-form-field>
                <label>Author
                    <input matInput formControlName="author" />
                </label>
            </mat-form-field>
            <mat-form-field>
                <label>Source url
                    <input matInput formControlName="url" />
                </label>
            </mat-form-field>
            <div class="buttons">
                <button mat-raised-button color="green" type="submit">Save</button>
                <button mat-raised-button routerLink="../" class="cancel">Cancel</button>
            </div>
        </div>
    </form>