$border-color: #60a3bc;
$text-color: black;
$border-style: solid;

.form {
  border-color: #a3d9d9;
  border-width: 2px;
  border-style: $border-style;
  border-radius: 10px;
  min-width: 40%;
  max-width: 90%;
  display: inline-block;
  margin: 40px;
}

form {
  overflow: hidden;
  display: grid;
  grid-template-columns: 300px 350px 200px;
}

form > .leftPart,
form > .rightPart {
  text-align: left;
  margin-left: 60px;
}

.leftPart > mat-form-field,
.rightPart > mat-form-field,
.rightPart > .buttons {
  display: block;
  max-width: 15em;
}

.cancel {
  margin-left: 50px;
}

input,
textarea {
  border-style: $border-style;
  border-bottom: none;
  border-color: #a3d9d9;
  border-top: none;
  border-radius: 3px;
}

.buttons {
  padding-bottom: 20px;
}

img {
  margin-top: 20px;
  max-width: 160px;
  max-height: 100px;
}

mat-radio-button{
  margin-left: 10px;
}
