$border-color: #60a3bc;
$text-color: black;
$border-style: solid;

.form {
  border-color: #a3d9d9;
  border-width: 2px;
  border-style: $border-style;
  border-radius: 10px;
  width: 50%;
  display: inline-block;
  margin: 40px;
}

form {
  overflow: hidden;
  display: grid;
  grid-template-columns: 500px 400px;
}

form > .leftPart,
form > .rightPart {
  text-align: left;
  margin-left: 220px;
}

form .rightPart {
  margin-left: 120px;
}

.leftPart > mat-form-field,
.rightPart > mat-form-field,
.rightPart > .buttons {
  display: block;
}

.cancel {
  margin-left: 50px;
}

input,
textarea {
  border-style: $border-style;
  border-bottom: none;
  border-color: #a3d9d9;
  border-top: none;
  border-radius: 3px;
}

.buttons {
  padding-bottom: 20px;
}
