$text-color: black;
$border-color: #60a3bc;

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/open-sans-v17-latin-regular.woff2") format("woff2"),
    url("./assets/fonts/open-sans-v17-latin-regular.woff") format("woff");
}

body {
  margin: 0;
  font-family: "Open Sans" !important;
}

.mat-green {
  background-color: #a6dd8f;
}
