<div class="details">
    <app-title [title]="title">
    </app-title>
    <mat-card class="main">
        <mat-card-header>
            <mat-card-title>
                {{article.title}}
            </mat-card-title>
            <mat-card-subtitle>
                {{article.publishedAt | date:'shortTime' }}
            </mat-card-subtitle>
        </mat-card-header>
        <img [src]="article.urlToImage">
        <mat-card-content>
            <p>{{article.description}}</p>
            <p>{{article.content| slice : 0:260}}</p>
        </mat-card-content>
        <mat-card-actions>
            <ng-container *ngIf="createdByMe">
                <button mat-raised-button color="primary" [routerLink]="['/edit', article.title]">Edit</button>
                <button mat-raised-button color="primary" (click)="deleteArticle()">Delete</button>
            </ng-container>
        </mat-card-actions>
    </mat-card>
</div>